@charset "UTF-8";

body {
  font-family: "ヒラギノ角ゴ ProN","游ゴシック","メイリオ","sans-serif";
}

a {
  display: block;
  padding: 5px;
  text-decoration: none;
}

.top-img {
  background-image: url("/images/top_img.jpg");
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.user-img-min img{
  height: 25px;
  width: 25px;
}

.hidden {
  display: none;
}