@charset "UTF-8";

body {
  font-family: "ヒラギノ角ゴ ProN","游ゴシック","メイリオ","sans-serif";
}

a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: rgb(53, 157, 255);
}

.top-img {
  background-image: url("/images/top_img.jpg");
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.header-container {
  background-color: rgba(255,255,255,.85);
  display: flex;
  justify-content: space-between;
}

.guruttoS-logo {
  width: 100px;
  margin-top: 5px;
}

.main-nav {
  display: flex;
  list-style: none;
  margin-top: 13px;
}

.header-btn {
  border: rgb(53, 157, 255) solid 2px;
  margin-right: 30px;
}

.index-main-container {
  color: #ffffff;
  position: absolute;
  top: 130px;
  left: 70px;
}

.index-heading {
  font-feature-settings: "palt";
  font-size: 400%;
  margin-bottom: 30px;
}

.index-heading span {
  color: rgb(14, 139, 255);
}

.index-text {
  margin-left: 20px;
  font-size: 130%;
}

.index-btn {
  margin-top: 20px;
  text-align: center;
  width: 120px;
  background-color: rgb(53, 157, 255);
}

.index-btn a {
  color: #ffffff;
}