.top-img {
  background-image: url("/images/top_img.jpg");
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.index-room-container {
  display: flex;
}

.room-screen {
  height: calc(100vh - 65px);
  width: 80vw;
}

.room-screen-header {
  color: #ffffff;
  height: 140px;
  background-color: rgb(121, 121, 121);
}

.room-screen-header-box {
  padding: 20px;
}

.room-screen-header-title {
  text-align: center;
  margin-bottom: 15px;
}

.room-screen-header-search {
  text-align : center;
}

.search-form-text{
  font-size: 16px;
  padding: 5px 10px;
  width: 300px;
  border-radius: 4px;
  border: 2px solid rgb(53, 157, 255);
  background-color: rgb(255, 255, 255);
}

.search-btn {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(53, 157, 255);
}

.room-screen-box {
  height: calc(100% - 140px);
}

.room-screen-lists {
  padding: 40px 80px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

.room-screen-list-box {
  background-color: #dfdfdf;
  height: 80px;
  margin-bottom: 20px;
  padding: 0px 20px;
  border: gray solid 1px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.room-screen-list-header {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: gray solid 1px;
}

.room-screen-list-room-name a{
  color: rgb(53, 157, 255);
  padding: 0px;
}

.room-screen-list-room-name a:hover{
  color: rgb(129, 192, 250);
}

.room-screen-list-btn {
  display: flex;
  align-items: center;
}

.room-entry-btn {
  padding: 2px 10px;
  color: rgb(53, 157, 255);
  border: rgb(53, 157, 255) solid 2px;
}

.room-entry-btn:hover {
  background-color: rgb(53, 157, 255);
  color: #ffffff;
}

.room-exist-btn a{
  padding: 2px 10px;
  color: rgb(160, 32, 32);
  border: rgb(160, 32, 32) solid 2px;
  user-select: none;
}

.room-exist-btn a:hover {
  background-color:rgb(160, 32, 32);
  color: #ffffff;
}

.room-delete-btn a{
  padding: 2px 10px;
  color: rgb(56, 187, 39);
  border: rgb(56, 187, 39) solid 2px;
  margin-left: 10px;
  user-select: none;
}

.room-delete-btn a:hover {
  background-color:rgb(56, 187, 39);
  color: #ffffff;
}

.room-screen-list-body {
  height: 50%;
  display: flex;
  align-items: center;
}

.room-screen-list-owner-name {
  width: 50%;
}

.room-screen-list-create-date {
  width: 50%;
}

.index-main-container {
  color: #ffffff;
  position: absolute;
  top: 130px;
  left: 70px;
}

.index-heading {
  font-feature-settings: "palt";
  font-size: 400%;
  margin-bottom: 30px;
}

.index-heading span {
  color: rgb(14, 139, 255);
}

.index-text {
  margin-left: 20px;
  font-size: 130%;
}

.index-btn {
  margin-top: 20px;
  text-align: center;
  width: 120px;
  background-color: rgb(53, 157, 255);
}

.index-btn a {
  color: #ffffff;
}

