<main class="user-container">
  <div class="user-wrapper">

    <div class="user-profile-wrapper">
      <div class="user-profile-container">
        <div class="user-profile-header">
          <div class="user-profile-left-header">
          </div>
          <div class="user-profile-right-header">
          </div>
        </div>
      </div>
    </div>

    <div class="user-screen-wrapper">
    </div>

  </div>
<main>