<div class="header-container">
  <header>
    <%= link_to image_tag("guruttoS_logo.png", class:"guruttoS-logo"), root_path %>
  </header>
  <nav>
    <ul class="main-nav">
    <%! if user_signed_in? %>
        <li class="header-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% else %>
        <li class="header-btn"><%= link_to "新規登録", new_user_registration_path %></li>
        <li class="header-btn"><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
    </ul>
  </nav>
</div>