<div class="default-left-bar">
  <div class="default-left-bar-box">
    <p class="default-left-bar-name"><%= link_to current_user.nickname, user_path(current_user.id) %>さん</p>
  </div>
  <div class="default-left-create-box">
    <div class="default-left-create-btn" id="room-create-btn"><%= link_to "ルーム作成","#" %></div>
    <%= render "rooms/room_create_window" %>
  </div>
  <div class="default-lists-header">参加ルーム一覧</div>

  <div class="default-left-lists">
    <% current_user.rooms.each do |room| %>
      <div class="default-left-list-box">
        <div class="default-left-list-name">
          <%= link_to room.room_name, room_posts_path(room) %>
        </div>
      </div>
    <% end %>
    
  </div>
</div>