<div class="top-img">
  <%= render "shared/header"%>
  <main class="index-main-container">
    <h1 class="index-heading"><span>ぐるっとS</span>とは</h1>
    <div class="index-text">
      <p>ぐるっとSは会社やサークルなど、特定のグループ内で</p>
      <p>情報の発信や共有を行うことが出来るWebサービスです。</p>
      <div class="index-btn"><%= link_to "始めてみる", new_user_registration_path %></div>
    </div>
  </main>
</div>