<div class="post-screen-box">
  <div class="post-screen-lists">
    <% if @favorites.any? %>
      <div class="post-screen-lists-border"></div>
    <% end %>
    <% @favorites.each do |favorite| %>
      <div class="post-screen-list-box">
        <div class="post-screen-list-header">
          <%= link_to Post.find(favorite.post_id).title, room_post_path(@room, Post.find(favorite.post_id)) %>
        </div>
        <div class="post-screen-list-body">
          投稿者：<%= link_to Post.find(favorite.post_id).user.nickname, '#', class:"post-screen-list-user" %>　投稿日時：<%= Post.find(favorite.post_id).created_at.to_s(:datetime_jp) %>
        </div>
      </div>
    <% end %>
  </div>
</div>