<div class="default-left-bar">
  <div class="default-left-bar-box">
    <p class="default-left-bar-name"><%= current_user.nickname %>さん</p>
  </div>
  <div class="default-left-create-box">
    <div class="default-left-create-btn" ><%= link_to "投稿する",new_room_post_path %></div>
    <%= render "rooms/room_create_window" %>
  </div>
  <div class="default-left-lists-header">投稿メニュー</div>

  <div class="post-left-lists">
    <div class="post-left-list-box">
      <div class="post-left-list-item">
        <ol>
          <li><%= link_to "投稿一覧", room_posts_path %></li>
        </ol>
      </div>
    </div>
  </div>
</div>