<div class="post-new-form-container">

  <%= render "posts/left-post-bar"%>

  <div class="post-form-wrapper">

  <%= render "posts/post-screen-header"%>
  <%= render "posts/post-new-form-body"%>

  </div>
</div>