<%= render "shared/header" %>

<main class="index-post-container">
  <%= render "posts/left-post-bar" %>

  <div class="post-screen">
    <%= render "posts/post-screen-header" %>
    <%= render "posts/favorite-screen-box" %>
  </div>
</main>