<%= render "shared/header" %>

<main class="index-post-container">
  <%= render "posts/left-post-bar" %>

  <div class="post-screen">
    <%= render "posts/post-screen-header" %>
    <h4 class="post-screen-title">投稿一覧</h4>
    <%= render "posts/post-screen-box" %>
  </div>
</main>