.index-post-container {
  display: flex;
}

.post-screen {
  height: calc(100vh - 65px);
  width: calc(100vw - 200px);
  background-color: rgb(255, 255, 255);
}

.post-screen-header {
  color: #2c2c2c;
  height: 60px;
  background-color: rgb(216, 216, 216);
  border-bottom: gray solid 1px;
  white-space: nowrap;
}

.post-screen-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.post-screen-header-title {
  font-size: 21px;
}

.post-screen-header-room-name {
  display: inline;
}

.post-screen-header-search {
  color: #ffffff;
}

.post-search-form-text{
  font-size: 16px;
  padding: 5px 10px;
  width: 300px;
  border-radius: 4px;
  border: 2px solid rgb(53, 157, 255);
  background-color: rgb(255, 255, 255);
}

.post-search-btn {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(53, 157, 255);
}

.post-screen-title {
  padding: 10px 30px;
  background-color: rgb(202, 235, 255);
}

.post-screen-box {
  height: calc(100% - 140px);
}

.post-screen-lists {
  padding: 30px 80px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

.post-screen-lists-border {
  border-bottom: rgb(212, 212, 212) solid 1px;
}

.post-screen-list-box {
  min-width: 500px;
  min-height: 80px;
  height: auto;
  padding: 0px 20px;
  border-bottom: rgb(212, 212, 212) solid 1px;
  overflow-wrap: break-word;
}

.post-screen-list-header {
  display: flex;
  align-items: center;
  font-size: 21px;
  height: 60%;
}

.post-screen-list-body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40%;
}

.post-screen-list-user {
  display: inline;
}